.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 22vw;
  color: var(--black-color);
  text-align: left;
  @media (max-width: 600px) {
    margin: 0;
    margin-top: 3rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  input {
    width: 40rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: "Aldrich", serif;
    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 2.5rem;
    }
  }
  textarea {
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Aldrich", serif;
    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 2.5rem;
    }
  }

  button {
    border: none;
    background-color: var(--primary-color);
    font-family: "Aldrich", serif;
    color: var(--white-color);
    padding: 1rem;
    cursor: pointer;
  }
}
