.home {
  margin-top: 15rem;
  margin-left: 12rem;
  color: var(--black-color);

  @media (max-width: 600px) {
    margin: 0;
    margin-top: 3.5rem;
  }

  h1 {
    font-size: 6rem;
    @media (max-width: 600px) {
      font-size: 6rem;
    }
  }
  p {
    margin-top: 1.5rem;
    font-size: 2rem;
    width: 80%;
    line-height: 2.5rem;
    @media (max-width: 600px) {
      font-size: 2.8rem;
      width: 100%;
      line-height: 3rem;
    }
  }
  .name {
    color: var(--primary-color);
    &:hover {
      text-shadow: 0.5rem 0.2rem var(--secondary-color);
    }
  }
  .highlight {
    color: var(--primary-color);
  }
  .btns {
    display: flex;
    margin-top: 2rem;

    @media (max-width: 600px) {
      flex-direction: column;
      button:last-child {
        margin-top: 3rem;
      }
    }

    button {
      padding: 0.7rem 1rem;
      border: none;
      outline: none;
      font-family: "Aldrich", serif;
      margin-right: 2rem;
      font-size: 1.5rem;
      cursor: pointer;
      @media (max-width: 600px) {
        font-size: 2rem;
        padding: 1.5rem;
      }
    }
    .filled-btn {
      background-color: var(--primary-color);
      color: var(--white-color);
    }
  }
  .social-links {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    @media (max-width: 600px) {
      justify-content: space-evenly;
      margin: 3rem 0;
    }
    img {
      width: 2rem;
      opacity: 0.7;
      margin-right: 2rem;
      @media (max-width: 600px) {
        width: 3rem;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
