@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-bg-color: #fff;
  --gray-color: #e4e4e4;
  --secondary-color: #f4b41a;
  --primary-color: #a71e4a;
  --black-color: #333;
  --white-color: #fff;
}
html {
  font-size: 62.5%;
  font-family: "Aldrich", serif;
  @media (max-width: 600px) {
    font-size: 50%;
  }
}

.layout {
  display: flex;
  width: 100%;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

main {
  z-index: 50;
  @media (max-width: 600px) {
    padding: 1rem 2rem;
  }
}
