.desktop-nav {
  @media (max-width: 600px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  background-color: var(--nav-bg-color);
  min-height: 100vh;
  min-width: 12rem;
  font-size: 2.5rem;
  padding: 2rem 0;
  align-items: center;
  a {
    color: var(--black-color);
  }

  h1 {
    color: var(--primary-color);
    a {
      text-decoration: none;
    }
    a:visited,
    a:active {
      color: var(--primary-color);
    }
  }
  .logo {
    font-size: 6rem;
    text-shadow: 0.5rem 0.3rem var(--secondary-color);
  }

  ul {
    list-style: none;
    margin-top: 8rem;
    font-size: 1.5rem;

    li {
      margin-bottom: 3rem;
      .active {
        opacity: 1;
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        opacity: 0.7;
        color: var(--black-color);

        &:visited,
        a:active {
          color: var(--black-color);
          text-decoration: none;
        }
        &:hover {
          opacity: 1;
        }
        img {
          width: 3.2rem;
          margin-bottom: 0.7rem;
        }
      }
    }
  }
}

.mobile-nav {
  @media (min-width: 600px) {
    display: none;
  }
  transform: translateY(-50%);
  min-width: 100vw;
  align-self: flex-start;
  height: auto;
  padding: 2rem 3rem;
  transition: all 0.2s ease-out;
  &.open {
    transform: translateY(0);
    .hamburger {
      div {
        transform: rotate(120deg);
        &:last-child {
          width: 3rem;
          transform: rotate(-120deg);
        }
      }
    }
  }
  .menu {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: var(--black-color);
      &.active {
        color: var(--primary-color);
      }
    }
  }
  .hamburger {
    margin-top: 4rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      transition: all 0.2s ease-out;
      height: 2px;
      width: 3rem;
      background-color: var(--black-color);
      &:last-child {
        margin-top: 0.5rem;
        width: 2rem;
        align-self: flex-start;
      }
    }
  }
}

nav.open ~ main {
  transform: translateY(0rem);
}

main {
  transition: all 0.2s ease-out;
  transform: translateY(-8rem);
}
